@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* lenis */
html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}



@layer utilities{

    /* responsive */

    .MqSmall{
        font-size: min(max(0rem, 3vw),1.25rem);
    }
    .MqMedium{
        font-size: 1rem;
    }
    .MqLarge{
        font-size: min(max(0.9rem, 1vw),1.2rem);
    }
    .MqXLarge{
        font-size: min(max(1rem, 1vw),1.2rem);
    }
    

    .mainController{
        @apply MqSmall xsm:MqMedium lg:MqLarge xl:MqXLarge;
    }


    /* end resp */

    
   
    /* basics */
    img,
    svg{
        @apply w-full h-full;
    }
    
    
    /* end basics */


    /* menu */

    .showMenu{
        @apply w-[13em];
    }

    .showMenu .menuArrow{
        @apply rotate-180;
    }

    .activeMenu{
        @apply scale-100;
    }

    .menuDot{
        @apply relative transition-colors;
    }
    
    .menuDot::before {
        @apply transition-[width] duration-500 ease-[cubic-bezier(.23,1.36,.13,1.13)] absolute w-[0.5em] aspect-square content-[''] border-[0.1em] rounded-full border-[#b1b1b1] left-1/2 -translate-x-1/2 -translate-y-1/2 top-1/2 ;
    }

    .activeMenuSelection::before{
        @apply w-1em border-[#3f3f3f];
    }

    .activeMenuSelection{
        @apply bg-[#3f3f3f];
    }

    /* end menu */



    /* section margin */

    .sectionMarginContainer{
        @apply w-[90%] mx-auto max-w-[1280px]
    }


    /* about aimation */

    .ourStory{
        @apply translate-y-[50%] opacity-0
    }
    /* .imageBlock{
        @apply translate-y-[20%] opacity-0
    } */

    .imageBlockMain .animatedImages{
        clip-path: (0% 0% 100% 0%);
        @apply opacity-0 ;
    }

    .imageBlockMain{
        @apply origin-top overflow-hidden;
    }

    .ourStory .outerCont{
        @apply overflow-hidden
    }
    .ourStory .innerCont{
        @apply inline-block 
    }

    .aboutHoverImage{
        @apply -translate-x-full;
    }


    /* work section*/


    .workSectionTab{
        height: min(max(0.9rem,150vw),90rem)
    }
    .workSectionPc{
        height: min(max(0.9rem,135vw),122rem)
    }

    .workSection{
        @apply md:workSectionTab lg:workSectionPc;
    }

    .workOneTab{
        @apply absolute left-0 top-0 w-[48%];
    }

    .workOne{
        @apply md:workOneTab;
    }

    .workTwoTab{
        @apply absolute right-0 top-0 translate-y-[18%] w-[37%];
    }

    .workTwo{
        @apply md:workTwoTab;
    }

    .workThreeTab{
        transform: translateY(min(max(0.9rem, 70vw),62rem));
        @apply absolute right-[15%] top-0 w-[37%] pb-4em;
    }

    .workThree{
        @apply md:workThreeTab;
    }

    
 

}